<?xml version="1.0" encoding="UTF-8"?>
<!--
    schema: 规范
    xxx.xsd
    xml schema definition
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 要工厂生产的对象 -->
    <bean id="userDAO" class="com.boy.dao.impl.UserDAOImpl"></bean>
    <bean id="userService" class="com.boy.service.imp.UserServiceImpl"></bean>
</beans>